In [64]:
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [65]:
nifty50_index_symbol = '^NSEI'

start_date = '2010-01-01'
end_date = '2019-06-30'

data = yf.download(nifty50_index_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [66]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2321.000000,2321.000000,2321.000000,2321.000000,2321.000000,2321.000000
mean,7561.167236,7598.586197,7512.571021,7555.766634,7555.766634,136968.849634
std,2084.658066,2086.080772,2077.707855,2081.917797,2081.917797,117889.153660
min,4623.149902,4623.149902,4531.149902,4544.200195,4544.200195,0.000000
25%,5633.799805,5659.850098,5586.450195,5627.750000,5627.750000,0.000000
50%,7630.250000,7673.700195,7579.299805,7614.350098,7614.350098,148800.000000
75%,8914.500000,8957.049805,8867.599609,8914.299805,8914.299805,200900.000000
max,12052.650391,12103.049805,12005.849609,12088.549805,12088.549805,719000.000000

In [67]:
def normalisation(col):
    new_col = (col - min(col))/(max(col) - min(col))
    return new_col

In [68]:
df = data[['Close']]

In [69]:
for col in df.columns:
    df[col] = normalisation(df[col])

/var/folders/41/13h1j2zj3plb9jjbs7dzx75c0000gn/T/ipykernel_32093/514820066.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = normalisation(df[col])

In [70]:
df

               Close
Date
2010-01-04  0.091194
2010-01-05  0.097252
2010-01-06  0.097768
2010-01-07  0.095290
2010-01-08  0.092858
...              ...
2019-06-24  0.948452
2019-06-25  0.961282
2019-06-26  0.968056
2019-06-27  0.967260
2019-06-28  0.960275

[2321 rows x 1 columns]

In [73]:
data_arr = df.to_numpy()

In [74]:
data_arr.shape

(2321, 1)