In [25]:
import numpy as np
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [26]:
nifty50_index_symbol = '^NSEI'

start_date = '2010-01-01'
end_date = '2019-06-30'

data = yf.download(nifty50_index_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [27]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2321.000000,2321.000000,2321.000000,2321.000000,2321.000000,2321.000000
mean,7561.167236,7598.586197,7512.571021,7555.766634,7555.766634,136968.849634
std,2084.658066,2086.080772,2077.707855,2081.917797,2081.917797,117889.153660
min,4623.149902,4623.149902,4531.149902,4544.200195,4544.200195,0.000000
25%,5633.799805,5659.850098,5586.450195,5627.750000,5627.750000,0.000000
50%,7630.250000,7673.700195,7579.299805,7614.350098,7614.350098,148800.000000
75%,8914.500000,8957.049805,8867.599609,8914.299805,8914.299805,200900.000000
max,12052.650391,12103.049805,12005.849609,12088.549805,12088.549805,719000.000000

In [29]:
def normalisation(col):
    new_col = (col - min(col))/(max(col) - min(col))
    return new_col

In [30]:
df = data.copy()

In [31]:
for col in data.columns:
    df[col] = normalisation(df[col])

In [34]:
df

                Open      High       Low     Close  Adj Close    Volume
Date
2010-01-04  0.077764  0.082260  0.085080  0.091194   0.091194  0.000000
2010-01-05  0.088027  0.088932  0.095154  0.097252   0.097252  0.000000
2010-01-06  0.088162  0.091940  0.097516  0.097768   0.097768  0.000000
2010-01-07  0.088653  0.090830  0.095469  0.095290   0.095290  0.000000
2010-01-08  0.086291  0.087381  0.094124  0.092858   0.092858  0.000000
...              ...       ...       ...       ...        ...       ...
2019-06-24  0.956006  0.953335  0.955095  0.948452   0.948452  0.386092
2019-06-25  0.949976  0.961410  0.952527  0.961282   0.961282  0.417942
2019-06-26  0.961707  0.969090  0.966781  0.968056   0.968056  0.456050
2019-06-27  0.974184  0.974345  0.975277  0.967260   0.967260  0.667872
2019-06-28  0.974224  0.969070  0.969183  0.960275   0.960275  0.422670

[2321 rows x 6 columns]